{% load bootstrap3 %}
{% load staticfiles %}
<html>
  <head>
    <title>Movie Bin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <script src="{% static "starter/vendor/jquery/dist/jquery.min.js" %}"></script>

      {% bootstrap_css %}
      {% bootstrap_javascript %}

    <script src="{% static "starter/vendor/handlebars/handlebars.min.js" %}"></script>
    <script src="{% static "starter/vendor/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
    <script src="{% static "starter/main.js" %}"></script>
    <link rel="stylesheet" href="{% static "starter/styles.css" %}">
  </head>

  <body>
    <div class="lights"></div>
    <header class="page-top">
      <h1 class="page-title">Movie Bin</h1>
    </header>
    {% block content %}
      <div class="page-content">
        <div class="container-fluid">
          <div class="row movies">

            {% verbatim %}

              <script id="movie-template" type="text/x-handlebars-template">
                {{#each movies}}
                <div class="movie before">
                  <div class="card">
                    <div class="poster">
                      <a class="poster-link" href="#">
                        {{!-- @todo: add a condition for when an image is not found --}}
                        <img class="poster-img scale-fx" src="{{this.posters.detailed}}" />
                      </a>
                    </div>
                    <div class="detail">
                      <a class="close" href="#">✕</a>
                      <h2 class="title">{{this.title}} <span class="year"> ({{this.year}})</span></h2>
                        <div class="runtime">{{this.runtime}} minutes</div>
                        <div class="mpaa">{{this.mpaa_rating}}</div>
                      <div class="rating">Audience Rating: <span class="a-score">{{this.ratings.audience_score}}</span><span class="a-max">/100</span></div>
                      <p class="summary">{{this.synopsis}}</p>
                    </div>
                  </div>
                </div>
                {{/each}}
              </script>

            {% endverbatim %}

          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
